* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style: none;
  text-decoration: none;
  text-transform: none; */
}
::-webkit-scrollbar {
  width: 1rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem grey;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--cor5);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cor4);
}
:root {
  /* color: hsla(171, 99%, 32%, 0); */
  --hue: 255;
  --cor0: hsl(var(--hue) 49% 85%);
  --cor1: hsl(var(--hue) 61% 70%);
  --cor2: hsl(var(--hue) 69% 55%);
  --cor3: hsl(var(--hue) 56% 42%);
  --cor4: hsl(var(--hue) 56% 23%);
  --cor5: hsl(var(--hue) 82% 13%);
  --cor6: hsl(var(--hue) 92% 3%);

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
  --fonte-android: "Android", cursive;
}

body {
  font-size: 67.5%;
  background-size: cover;
  font-family: var(--fonte-padrao);
  text-decoration: none;
  background: var(--cor6);
  color: var(--cor0);

  height: 100vh;
  width: 100%;
  overflow-y: hidden;

}

.wrap-container {

  display: flex;
  height: 100vh;
  width: 100vw;

  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;

  scroll-snap-type: x proximity;
}
.content-item {
  scroll-snap-align: x ;
  scroll-behavior: smooth;

}



.nav-container {
  width: 100%;
  display: flex;
position: absolute;
}



.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 0 2rem;

  justify-content: space-evenly;
  background-color: #212121;
}

.menu-container a {
  color: var(--cor1);
  padding: .7rem;
  text-align: center;
  display: flex;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
}

.menu-container a:hover {
  list-style: none;
  text-decoration: none;
  border-radius: 0.8rem;
  background-color: #000;
  height: 90%;
}

.content-home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./imagens/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.photo {
  background-image: url("./imagens/bg-image-ednei.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  max-width: 824px;
  width: 100%;
  display: flex;
  position: relative;
  top: 2rem;
  height: 10.8rem;
  border-radius: 1rem;
  align-items: center;
}

.my-photo {
  border: .2rem solid var(--cor1);
  border-radius: 30%;

  position: relative;
  margin: .5rem;
  width: 10rem;
  left: 40rem;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.my-photo img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
}

.texto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 1rem;
  position: relative;
  top: 1rem;

  justify-content: end;
  align-items: center;


}

.col-1 {
  margin: 0.5rem;
  max-width: 25rem;
  margin: .5rem;
  font-size: 1rem;
}

.col-2 {
  margin: 0 0.5rem;
  font-size: 1rem;
  max-width: 25rem;

}

.content-main {
  display: flex;
  font-size: 1rem;

  width: 100vw;
  height: 100vh;

  position: relative;
  top: 3rem;
}

.content-main h2 {
  text-align: center;
  padding: 0.5rem;

}

.content-cards {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 2.2rem;
  margin: 0 6.2rem;
}

.card {
  margin-top: 1rem;

  border-radius: 1rem ;
  padding: 1rem;
  width: 29vw;
  height: 50vh;
  background: var(--cor1);
}

.card h3 {
  color: var(--cor6);

}

.card p {
  background: var(--cor6);
  border-radius: 0.8rem;

  padding: 1rem;
  overflow-y: hidden;
}

.card a {
  display: inline-flex;
  margin: 0.5rem auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  text-align: center;
  text-decoration: none;
  background: var(--cor3);
  color: var(--cor0);
  border-radius: 2rem;

}

.content-video {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.8rem;
  margin: 7rem;
  max-width: 56rem;
  height: 6.5rem;

  background-image: url("./imagens/learn.jpg");
  background-attachment: local;
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: -20rem;
}

iframe {
  border-radius: 0.8rem;
  position: absolute;
  bottom: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content-article {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  justify-content: center;
  align-items: center;

  color: var(--cor1);
  text-align: left;

  font-size: 1rem;


  background-image: url("./imagens/thunder.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

article ul {
  list-style: none;
}

.content-item a,
.content-imagens li a {
  text-decoration: none;
  color: var(--cor0);
}

.content-footer {
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
  color: var(--cor2);
  font-size: 2rem;
  flex-direction: column;
}
.content-footer a{
  color: var(--cor0);

}