* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* color: hsla(171, 99%, 32%, 0); */
  --hue: 200;
  --cor0: hsl(var(--hue) 49% 85%);
  --cor1: hsl(var(--hue) 61% 70%);
  --cor2: hsl(var(--hue) 69% 55%);
  --cor3: hsl(var(--hue) 56% 42%);
  --cor4: hsl(var(--hue) 56% 23%);
  --cor5: hsl(var(--hue) 82% 13%);
  --cor6: hsl(var(--hue) 92% 3%);

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
  --fonte-android: "Android", cursive;
}


body {
  font-size: 67.5%;
  font-family: var(--fonte-padrao);
  text-decoration: none;
  background: var(--cor6);
  color: var(--cor0);
}

nav {
  display: flex;
  width: 100%;
  background-color: var(--cor3);
}

div.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.navegacao {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5rem;
  padding: 0 3rem;
  justify-content: space-between;
}

.navegacao a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--cor0);
}

.content-home {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;

}

.my-photo {
  border: .5rem solid white;
  border-radius: 1rem;
  justify-content: center;
  width: 100%;
  display: flex;
}

.texto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 2rem;
  align-items: center;
}

.col-1 {
  margin: 5px;
  max-width: 25rem;
  font-size: 1rem;
}

.col-2 {
  margin: 0 5px;
  font-size: 1rem;
  max-width: 25rem;

}

.interatividade-page {

  font-size: 1rem;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.interatividade-page h2 {
  text-align: center;
  width: 100%;
}

.interatividade-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* display: inline-flex; */
}

.card {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  width: 325px;
  margin: 10px;
  height: 250px;
  background: var(--cor1);
}

.card h3 {
  color: var(--cor6);

}

.card p {
  background: var(--cor6);
  border-radius: 8px;
  /* height: 15rem; */
  /* width: 100%; */
  padding: 10px;
  overflow-y: hidden;
}

.card a {
  display: inline-flex;
  margin: 0.5rem auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  text-align: center;
  text-decoration: none;
  background: var(--cor3);
  color: var(--cor0);
  border-radius: 20px;

}

.interatividade-video {
  display: flex;
  border: 1px solid var(--cor0);
  border-radius: 8px;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interatividade-video iframe {
  border-radius: 8px;


}