* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* color: hsla(171, 99%, 32%, 0); */
  --hue: 200;
  --cor0: hsl(var(--hue) 49% 85%);
  --cor1: hsl(var(--hue) 61% 70%);
  --cor2: hsl(var(--hue) 69% 55%);
  --cor3: hsl(var(--hue) 56% 42%);
  --cor4: hsl(var(--hue) 56% 23%);
  --cor5: hsl(var(--hue) 82% 13%);
  --cor6: hsl(var(--hue) 92% 3%);

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
  --fonte-android: "Android", cursive;
}

body {
  font-size: 67.5%;
  background-size: cover;
  font-family: var(--fonte-padrao);
  text-decoration: none;
  background: var(--cor6);
  color: var(--cor0);

  height: 100vh;
  overflow-y: hidden;


}

.wrap-container {

  display: flex;
  height: 100vh;
  width: 100%;

  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.nav-container {
  position: absolute;
  width: 100vw;
  display: flex;

}

.content-item {
  scroll-snap-align: x;

}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: var(--cor3);
  padding: 0 2rem;

  justify-content: space-evenly;
  background-color: #212121;
}

.menu-container a {
  color: var(--cor1);
  padding: .7rem;
  text-align: center;
  display: flex;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
}

.menu-container a:hover {
  list-style: none;
  text-decoration: none;
  background-color: #000;
}

.content-home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./imagens/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.photo {
  background-image: url("./imagens/bg-image-ednei.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  max-width: 850px;
  width: 100%;
  /* margin: 0 4rem; */
  display: flex;
  position: relative;
  top: 2rem;
  height: 10.8rem;
  border-radius: 1rem;
align-items: center;
}

.my-photo{
  border: .2rem solid var(--cor1);
  border-radius: 30%;
  
  position: relative;
  margin: .5rem;
  width: 10rem;
  left:  40rem;
  height: 10rem; 

  display: flex;
  align-items: center;
  justify-content: center;
}
.my-photo img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem; 
}
.texto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 1rem;
  position: relative;
top: 1rem;

  justify-content: end;
  align-items: center;


}

.col-1 {
  margin: 5px;
  max-width: 25rem;
  margin: .5rem;
  font-size: 1rem;
}

.col-2 {
  margin: 0 5px;
  font-size: 1rem;
  max-width: 25rem;

}

.interatividade-page {

  font-size: 1rem;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.interatividade-page h2 {
  text-align: center;
  padding: 0 5px;
}

.interatividade-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.card {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  width: 325px;
  margin: 10px;
  height: 250px;
  background: var(--cor1);
}

.card h3 {
  color: var(--cor6);

}

.card p {
  background: var(--cor6);
  border-radius: 8px;

  padding: 10px;
  overflow-y: hidden;
}

.card a {
  display: inline-flex;
  margin: 0.5rem auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  text-align: center;
  text-decoration: none;
  background: var(--cor3);
  color: var(--cor0);
  border-radius: 20px;

}

.interatividade-video {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interatividade-video iframe {
  border-radius: 8px;

}

.interatividade-video h2 {
  text-align: center;

  padding: 0 5px;
}